.navbar{
    background-color: #4c66a4;
    
}
.navbar{
    background-color: #4c66a4;
  
}
#sitename {
    color: whitesmoke  ;
    font-weight: 900;
  font-size:20px;
   
}
#searchbar {
    width : 200%;
}
#LogButton {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 18px;

}